<div class="container ss-page-content" ng-app="UserSettingApp">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><b>Personal settings</b></h4></div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#/profile">
                            <i class="fa fa-user"></i> Profile Account
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/p_pictice">Profile Picture </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div ng-view></div>
        </div>
    </div>
</div>
