<div id="P_picture" ng-cloak>
    <h3><b>個人頭貼 修改上傳</b></h3>
    <hr style="margin: 0;">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="ss-cropArea" ngf-drop ng-model="Pi_ctrl.pictureFile" ngf-pattern="image/*">
                <!-- ngfDataUrl  重要!!!!!-->
                <img-crop image="Pi_ctrl.pictureFile | ngfDataUrl"
                    result-image="Pi_ctrl.croppedImageUrl"
                    area-type="square"
                    on-load-done="Pi_ctrl.onLoad=''"
                    on-load-error="Pi_ctrl.onLoad='格式不對or載入錯誤'">
                </img-crop>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <img class="img-thumbnail" ng-src="{{Pi_ctrl.croppedImageUrl}}" style="margin: 60px 0;"/>
        </div>
        <b>大頭貼: </b>
        <img class="ss-profile-pic" ng-src="{{Pi_ctrl.croppedImageUrl}}"/>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <button class="btn btn-success" ngf-select="Pi_ctrl.sel_file($file, $invalidFiles)" accept="image/*" ngf-max-size="5MB">
                <i class="fa fa-picture-o fa-fw"></i>
                Select Picture
            </button>
            <div class="text-muted">※檔案請勿超過5MB</div>
            <p class='error'>{{Pi_ctrl.onLoad}}</p>
            <div class='error' ng-show="Pi_ctrl.errorFile.name">
                <b>{{Pi_ctrl.errorFile.name}}</b> 檔案過大
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <button type="button" class="btn btn-primary" ng-disabled="Pi_ctrl.onLoad!=''"
             ng-click="Pi_ctrl.submit(Pi_ctrl.croppedImageUrl,Pi_ctrl.pictureFile.name)">
                <i class="fa fa-lg fa-arrow-circle-o-up fa-fw"></i>
                Upload...
            </button>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="progress progress-striped" ng-show="Pi_ctrl.progress >= 0">
            <div class="progress-bar" style="width: {{Pi_ctrl.progress}}%;">
                {{Pi_ctrl.progress}}%
            </div>
        </div>
    </div>
</div>
